<!doctype html>
<html>
 <head>
   <title>Document</title>
   <style>
   </style>
 </head>
 <body>
    <h1>this is sample.html file</h1>
    <h1>user given value is {{sample}} than display the factorial value {{factvalue}}</h1>
    <h1>now it display the list values inside the context <br> {{list.1}} <br> data</h1>
    <h1>now it display the dictonary values inside the context <br> {{a}} <br> data</h1>
    <h1>now it display the dictonary values inside the context <br> {{a.items}} <br> data</h1>
    <h1>now it display the dictonary values inside the context <br> {{a.values}} <br> data</h1>
    <h1>now it display the dictonary values inside the context <br> {{a.keys}} <br> data</h1> 
</body>
</html>